@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* 
rgb(157, 176, 147);      #1A2238     #9DAAF2     #FF6A3D     #F4DB7D     #203764    #9fd5f9b7(background)
#FFCF0A     #61CE70     #363636     #00AAA6     #ECF0F1     #2981BA         #036059     #caf0f8
*/
html {
    scroll-behavior: smooth;
}

.test {
    background-image: linear-gradient(#FFCF0A, #61CE70, #363636, #00AAA6, #ECF0F1, #2981BA, #036059, #caf0f8, #1A2238, #9DAAF2, #FF6A3D, #F4DB7D, #203764, #9fd5f9b7);
}

body {
    /* background-color: #FFCF0A; */
    background-color: #caf0f8;
    /* background-color: rgba(255, 206, 10, 0.562); */
    font-family: Poppins, sans-serif;
    overflow-y: scroll;
    /* Show scrollbars */
}

/* Navbar Background Color */
.bg-blue {
    background-color: #203764;
}

/* #navbarNav {

    // Regular state
    .nav-item a {
        color: rgb(132, 132, 191);
    }

    // Active state
    .nav-item.active a {
        color: red;
    }
} */

/* Goto Top Button Styling Begin */
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    border: 1px solid #9DAAF2;
    outline: none;
    background-color: #203764;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 30%;
    transition: all 3s ease;
}

#myBtn:hover {
    /* background-color: rgb(213, 70, 235); */
    background: linear-gradient(#7a2020, #987886, #121927, #2981BA, #162ca9)
}

/* Goto Top Button Styling End */

/* blinking marquee and its animation begin */
/* blink {
    -webkit-animation: 2s linear infinite kedip;
    animation: .3s linear infinite kedip;

}

blink:hover,
marquee:hover {
    -webkit-animation: 2s linear infinite kedip;
    animation: .3s linear infinite stdip;

}

@-webkit-keyframes stdip {
    0% {
        visibility: visible;
    }

    50% {
        visibility: visible;
    }

    100% {
        visibility: visible;
    }
}

@keyframes stdip {
    0% {
        visibility: visible;
    }

    50% {
        visibility: visible;
    }

    100% {
        visibility: visible;
    }
}

@-webkit-keyframes kedip {
    0% {
        visibility: hidden;
    }

    50% {
        visibility: hidden;
    }

    100% {
        visibility: visible;
    }
}

@keyframes kedip {
    0% {
        visibility: hidden;
    }

    50% {
        visibility: hidden;
    }

    100% {
        visibility: visible;
    }
} */

/* blinking marquee and its animation end */

/* Header - Dept Name Styling */
.headerStyle {
    background-color: #0077b6;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

.headerStyle p {
    padding: 15px;
    width: 80%;
    background-color: #203764;
    font-size: 2rem;
    letter-spacing: 2px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
}

.marqueeStyle {
    color: #fff;
    letter-spacing: 1px;
}

/* Flash Blinking */
.blink {
    border: 1px solid rgb(239, 232, 232);
    background-color: rgba(167, 167, 23, 0.258);
    animation: blink .3s infinite;
    color: #ddc8c8;
    border-radius: 30%;
    padding: 5px 10px;
    margin-left: 3px;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

.marqueeStyle a {
    margin-left: 5px;
    text-decoration: none;
    cursor: pointer;
}

/* Header Styling End */

/* Main Styling Begin */
.ecaDiv {
    border: 2px solid #203764;
    padding: 15px;
}

.ecaDiv .eventsDiv {
    border: 2px solid #203764;
    border-radius: 10px;
}

.ecaDiv .eventsDiv p {
    text-align: center;
    font-weight: 600;
}

.ecaDiv .eventsDiv .announceMarquee {
    height: 300px;
    overflow: hidden;
    font-size: .8rem;
    padding: 2px;
}

.ecaDiv .eventsDiv .announceMarquee ul li {
    margin-bottom: 5px;
}

.ecaDiv .eventsDiv .announceMarquee ul li a {
    color: #203764;
    text-decoration: none;
    font-weight: 600;
    /* padding-top: 15px; */
}

.ecaDiv .announceDiv {
    border: 2px solid #203764;
    border-radius: 10px;
}

.ecaDiv .announceDiv p {
    text-align: center;
    font-weight: 600;
}

.ecaDiv .announceDiv .announceMarquee {
    height: 300px;
    overflow: hidden;
    font-size: .8rem;
    padding: 2px;
}

.ecaDiv .announceDiv .announceMarquee ul {
    list-style: none;
}

.ecaDiv .announceDiv .announceMarquee ul li {
    margin-left: -30px;
    margin-bottom: 5px;
}

.ecaDiv .announceDiv .announceMarquee ul li a {
    color: #fd3407;
    text-decoration: none;
    /* font-size: 1rem; */
    /* padding-top: 15px; */
}

.ecaDiv .carouselDiv {
    border: 2px solid #203764;
    border-radius: 10px;
    padding: 0px;
}

.ecaDiv img {
    width: 100%;
    height: 350px;
    border: 2px solid #203764;
    border-radius: 10px;
}

.headMessageSection {
    border: 1px solid #203764;
    /* background-color: #d6c47ecf; */
    background-color: rgba(167, 196, 225, 0.284);
    padding-bottom: 30px;
}

.msghoddiv {
    border-left: 3px solid #c4869ca6;
    padding: 10px;
}

.msghoddiv .msghodp {
    color: #203764;
    letter-spacing: 1px;
    /* color: #fff; */
    text-align: justify;
    font-weight: 500;
}

.recogSection {
    border: 1px solid #203764;
    background-color: rgba(255, 255, 255, 0.567);
    padding: 5px;
}

.recogSection .recogContainer {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

.recogSection .recogContainer .recogItem img {
    /* border: 5px solid #203764; */
    padding: 5px;
    /* opacity: 0.8; */
    /* border-radius: 10%; */
    /* box-shadow: 1px 1px 1px 1px red; */
}

.deptStrengthSection {
    border: 1px solid #203764;
    padding: 25px;
    background-color: rgb(207, 230, 245);
    border-bottom: 1px solid #dde2ec;
}

.deptStrengthSection .deptStrengthSectionDivs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.deptStrengthSection .deptStrengthSectionDivs .sHeading {
    color: #27127c;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: underline;
}

.deptStrengthSection .deptStrengthSectionDivs .deptStrengthContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.deptStrengthSection .deptStrengthSectionDivs .deptStrengthContainer .deptStrengthItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 15px;
    border: 2px solid #203476;
    border-radius: 10px;
    margin-right: 5px;
    margin-top: 5px;
    /* transition: all .3s ease; */
    animation-name: rotate;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes rotate {

    from,
    to {
        animation-timing-function: ease-in;
        background-color: rgb(151, 179, 216);
        color: #eb1818;
        /* box-shadow:
            0 0 0 hsl(0, 0%, 80%),
            0.1rem 0 0 hsl(0, 0%, 100%),
            -0.2rem 0 0.75rem 0 hsla(0, 0%, 0%, 0.3); */
        transform: rotateY(-10deg);
    }

    25%,
    75% {
        background-color: rgb(212, 185, 134);
        animation-timing-function: ease-out;
        color: #4b5cc0;
        /* box-shadow:
            0 0 0 hsl(0, 0%, 80%),
            0 0 0 hsl(0, 0%, 100%),
            -0.25rem -0.05rem 1rem 0.15rem hsla(0, 0%, 0%, 0.3); */
        transform: rotateY(0deg);
    }

    50% {
        animation-timing-function: ease-in;
        background-color: rgb(212, 160, 160);
        color: #fff;
        /* box-shadow:
            -0.1rem 0 0 hsl(0, 0%, 80%),
            0 0 0 hsl(0, 0%, 100%),
            -0.3rem -0.1rem 1.5rem 0.3rem hsla(0, 0%, 0%, 0.3); */
        transform: rotateY(10deg);
    }
}

.deptStrengthSection .deptStrengthSectionDivs .deptStrengthContainer .deptStrengthItem:hover {
    box-shadow: 0px 1px 1px 0px red;
    transform: translate(3px);
    /* cursor: pointer; */
}

.deptStrengthSection .deptStrengthSectionDivs .deptStrengthContainer .deptStrengthItem span {
    font-weight: 600;
    font-size: 2rem;
    /* color: rgb(123, 12, 226); */
}

.deptStrengthSection .deptStrengthSectionDivs .deptStrengthContainer .deptStrengthItem p {
    font-size: 1.2rem;
    font-weight: 600;
    /* text-shadow: 1px 1px 1px 1px red; */
    /* color: rgb(57, 58, 153); */
}

.contactSection {
    border: 1px solid #203764;
    padding: 25px;
    /* background-color: rgba(91, 161, 207, 0.999); */
    background-color: rgba(255, 255, 255, 0.778);
    /* border-bottom: 1px solid #dde2ec; */
    color: #203764;
}

.contactSection .contactContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.contactSection .contactContainer .infoDiv,
.contactSection .contactContainer .formDiv {
    display: flex;
    justify-content: center;
    border-left: 5px solid #203764;
    padding: 10px;
    /* box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12); */
    border-radius: 20px;
}

.contactSection .contactTitle p {
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: 600;
    letter-spacing: 1px;
}

.mapSection {
    border: 1px solid #203764;
    padding: 5px;
}

.mapSection .map {

    border-radius: 20px;
}

.facStrength {
    border: 1px solid #203764;
    padding-bottom: 30px;
    background-color: rgba(10, 149, 255, 0.302);
}

.facStrength .facultyCardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.facStrength .facultyCardContainer .facultyCard {
    background-color: #ffffff;
    width: 300px;
    border: 2px solid #203476;
    border-radius: 10%;
    text-align: center;
    padding: 10px;
    margin-top: 5px;
    margin-right: 10px;
    transition: all .5s ease;
    height: 350px;
    overflow: hidden;
    padding-bottom: 25px;
}

.facStrength .facultyCardContainer .facultyCard:hover {
    /* transform: skew(0deg, -2deg); */
    border: 2px solid #e41111;
    box-shadow: 0 2px 3px 5px green;
    /* transform: scale(1.25); */
    /* box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06); */
}

.facStrength .facultyCardContainer .facultyCard img {
    border-radius: 50%;
}

.facStrength .facultyCardContainer .facultyCard p {
    font-weight: 600;
}

.facStrength .facultyCardContainer .facultyCard a {
    text-decoration: none;
    color: #363636;
    border: 1px solid rgb(217, 126, 126);
}

.facStrength .facultyCardContainer .facultyCard a:hover {
    text-decoration: none;
    color: #fff;
    background-color: #363636;
    border: 1px solid rgb(217, 126, 126);
}

/* Faculty - Teaching Styles */
.our-team {
    padding: 30px 0 40px;
    margin-bottom: 30px;
    background-color: #f7f5ec;
    /* background-color: rgba(10, 149, 255, 0.302); */
    text-align: center;
    overflow: hidden;
    position: relative;
}

.our-team .picture {
    display: inline-block;
    height: 130px;
    width: 130px;
    margin-bottom: 50px;
    z-index: 1;
    position: relative;
}

.our-team .picture::before {
    content: "";
    width: 100%;
    height: 0;
    border-radius: 50%;
    background-color: #1369ce;
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    opacity: 0.9;
    transform: scale(3);
    transition: all 0.3s linear 0s;
}

.our-team:hover .picture::before {
    height: 80%;
}

.our-team .picture::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #1369ce;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.our-team .picture img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
}

.our-team:hover .picture img {
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
}

.our-team .title {
    display: block;
    font-size: 15px;
    color: #4e5052;
    text-transform: capitalize;
}

.our-team .social {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #1369ce;
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
}

.our-team:hover .social {
    bottom: 0;
}

.our-team .social li {
    display: inline-block;
}

.our-team .social li a {
    display: block;
    padding: 10px;
    font-size: 17px;
    color: white;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

.our-team .social li a:hover {
    color: #1369ce;
    background-color: #f7f5ec;
}

/* Faculty - Teaching Styles End */

/* Vision-Mission Styles Begin*/
.visionMissionSection {
    border: 1px solid #203764;
    padding-bottom: 30px;
    background-color: rgba(10, 149, 255, 0.302);
}

.visionMissionSection .visionSection {
    color: #fff;
    background-color: rgba(72, 143, 143, 0.8);
    margin-top: 10px;
    border: 3px solid rgba(44, 102, 195, 0.555);
    padding: 20px;
    border-radius: 25px;
    transition: all .5s ease;
    margin-bottom: 10px;
}

.visionMissionSection .visionSection:hover {
    background-color: rgba(235, 212, 180, 0.497);
    color: rgba(2, 12, 69, 0.949);
}

.visionMissionSection .visionSection p {
    letter-spacing: 1px;
    padding-left: 50px;
    /* font-weight: 600; */
    font-size: 1.1rem;
}

.visionMissionSection .missionSection {
    color: #fff;
    background-color: rgba(72, 143, 143, 0.8);
    margin-top: 10px;
    border: 3px solid rgba(44, 102, 195, 0.555);
    padding: 20px;
    border-radius: 25px;
    transition: all .5s ease;
    margin-bottom: 10px;
}

.visionMissionSection .missionSection:hover {
    background-color: rgba(235, 212, 180, 0.497);
    color: rgba(2, 12, 69, 0.949);
}

.visionMissionSection .missionSection ul li {
    letter-spacing: 1px;
    /* padding-left: 50px; */
    /* font-weight: 600; */
    font-size: 1.1rem;
    list-style: none;
    padding-left: 10px;
}

/* Vision-Mission Styles End */

/* Objectives Styles Begin */
.objectivesSection {
    border: 1px solid #203764;
    padding-bottom: 30px;
    background-color: rgba(10, 149, 255, 0.302);
}

.objectivesSection .peos {
    color: #fff;
    background-color: rgba(72, 143, 143, 0.8);
    margin-top: 10px;
    border: 3px solid rgba(44, 102, 195, 0.555);
    padding: 20px;
    border-radius: 25px;
    transition: all .5s ease;
    margin-bottom: 10px;
    font-size: 1.2rem;
    letter-spacing: 1px;
}

.objectivesSection .peos:hover {
    background-color: rgba(235, 212, 180, 0.497);
    color: rgba(2, 12, 69, 0.949);

}

.objectivesSection .pos {
    color: #fff;
    background-color: rgba(72, 143, 143, 0.8);
    margin-top: 10px;
    border: 3px solid rgba(44, 102, 195, 0.555);
    padding: 20px;
    border-radius: 25px;
    transition: all .5s ease;
    margin-bottom: 10px;
    font-size: 1.2rem;
    letter-spacing: 1px;
}

.objectivesSection .pos:hover {
    background-color: rgba(235, 212, 180, 0.497);
    color: rgba(2, 12, 69, 0.949);

}

/* Online Code for Objectives */
.card-front__heading {
    font-size: 1.5rem;
    margin-top: .25rem;
}

/* Main heading for inside page */
.inside-page__heading {
    padding-bottom: 1rem;
    width: 100%;
}

/* For both inside page's main heading and 'view me' text on card front cover */
.card-front__text-view {
    font-size: 1.3rem;
    font-weight: 800;
    margin-top: .2rem;
}

.inside-page__heading--city,
.card-front__text-view--city {
    color: #ff62b2;
}

/* Front cover */

.card-front__tp {
    color: #fafbfa;
}

/* For pricing text on card front cover */
.card-front__text-price {
    font-size: 1.2rem;
    margin-top: -.2rem;
}

/* For inside page's body text */
.inside-page__text {
    color: #333;
    font-size: 1rem;
}

/* Icons ===========================================*/

.card-front__icon {
    fill: #fafbfa;
    font-size: 3vw;
    height: 3.25rem;
    margin-top: -.5rem;
    width: 3.25rem;
}

/* Container to hold all cards in one place */
.card-area {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: space-evenly;
    padding: 1rem;
}

/* Card ============================================*/

/* Area to hold an individual card */
.card-section {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}

/* A container to hold the flip card and the inside page */
.card {
    background-color: rgba(0, 0, 0, .05);
    box-shadow: -.1rem 1.7rem 6.6rem -3.2rem rgba(0, 0, 0, 0.5);
    height: 15rem;
    position: relative;
    transition: all 1s ease;
    width: 15rem;
}

/* An outer container to hold the flip card. This excludes the inside page */
.flip-card {
    height: 15rem;
    perspective: 100rem;
    position: absolute;
    right: 0;
    transition: all 1s ease;
    visibility: hidden;
    width: 15rem;
    z-index: 100;
}

/* The outer container's visibility is set to hidden. This is to make everything within the container NOT set to hidden  */
/* This is done so content in the inside page can be selected */
.flip-card>* {
    visibility: visible;
}

/* An inner container to hold the flip card. This excludes the inside page */
.flip-card__container {
    height: 100%;
    position: absolute;
    right: 0;
    transform-origin: left;
    transform-style: preserve-3d;
    transition: all 1s ease;
    width: 100%;
}

.card-front,
.card-back {
    backface-visibility: hidden;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

/* Styling for the front side of the flip card */

/* container for the front side */
.card-front {
    background-color: #fafbfa;
    height: 15rem;
    width: 15rem;
}

/* Front side's top section */
.card-front__tp {
    align-items: center;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 57% 90%, 50% 100%, 43% 90%, 0 90%);
    display: flex;
    flex-direction: column;
    height: 12rem;
    justify-content: center;
    padding: .75rem;
}

.card-front__tp--city {
    /* background: linear-gradient(to bottom,
            #a3cf97,
            #0ce43b); */
    background: linear-gradient(to bottom,
            #ff73b9,
            #ff40a1);
}

.card-front__text-view1 {
    font-size: 1.3rem;
    font-weight: 800;
    margin-top: .2rem;
}

.card-front__tp1 {
    align-items: center;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 57% 90%, 50% 100%, 43% 90%, 0 90%);
    display: flex;
    flex-direction: column;
    height: 12rem;
    justify-content: center;
    padding: .75rem;
}

.card-front__tp--city1 {
    /* background: linear-gradient(to bottom,
            #a3cf97,
            #0ce43b); */
    background: linear-gradient(to bottom,
            #4da004,
            #44983a);
}

.inside-page__heading--city1,
.card-front__text-view--city1 {
    color: #44983a;
    text-align: center;
}

.card-front__tp1 {
    color: #fafbfa;
}

.card-front__text-price1 {
    font-size: 1.2rem;
    margin-top: -.2rem;
    text-align: center;
}

.inside-page__text1 {
    color: #203764;
    font-size: 0.85rem;
    font-weight: 500;
}

.card-front__text-view2 {
    font-size: 1.3rem;
    font-weight: 800;
    margin-top: .2rem;
}

.card-front__tp2 {
    align-items: center;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 57% 90%, 50% 100%, 43% 90%, 0 90%);
    display: flex;
    flex-direction: column;
    height: 12rem;
    justify-content: center;
    padding: .75rem;
}

.card-front__tp--city2 {
    /* background: linear-gradient(to bottom,
            #a3cf97,
            #0ce43b); */
    background: linear-gradient(to bottom,
            #b21212,
            #490b0b);
}

.inside-page__heading--city2,
.card-front__text-view--city2 {
    color: #490b0b;
    text-align: center;
}

.card-front__tp2 {
    color: #fafbfa;
}

.card-front__text-price2 {
    font-size: 1.2rem;
    margin-top: -.2rem;
    text-align: center;
}

.inside-page__text2 {
    color: #203764;
    font-size: 0.85rem;
    font-weight: 500;
}

/* Front card's bottom section */
.card-front__bt {
    align-items: center;
    display: flex;
    justify-content: center;
}

/* Styling for the back side of the flip card */

.card-back {
    background-color: #fafbfa;
    transform: rotateY(180deg);
}

/* Inside page */

.inside-page {
    background-color: #fafbfa;
    box-shadow: inset 20rem 0px 5rem -2.5rem rgba(0, 0, 0, 0.25);
    height: 100%;
    padding: 1rem;
    position: absolute;
    right: 0;
    transition: all 1s ease;
    width: 15rem;
    z-index: 1;
}

.inside-page__container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
    width: 100%;
}

/* Functionality ====================================*/

/* This is to keep the card centered (within its container) when opened */
.card:hover {
    box-shadow:
        -.1rem 1.7rem 6.6rem -3.2rem rgba(0, 0, 0, 0.75);
    width: 30rem;
}

/* When the card is hovered, the flip card container will rotate */
.card:hover .flip-card__container {
    transform: rotateY(-180deg);
}

/* When the card is hovered, the shadow on the inside page will shrink to the left */
.card:hover .inside-page {
    box-shadow: inset 1rem 0px 5rem -2.5rem rgba(0, 0, 0, 0.1);
}

/* Objectives Styles End */

/* Academic Calendar Styles Begin */

.academicSection {
    border: 1px solid #203764;
    padding-bottom: 30px;
    background-color: rgba(10, 149, 255, 0.302);
}

.academicSection .itemsContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    /* padding: 5px; */
}

.academicSection .itemsContainer .item {
    transition: all .3s ease;
    border-radius: 20px;
    border: 0px;
    padding: 5px 15px;
    background: linear-gradient(to bottom, rgb(63, 79, 3), rgb(40, 49, 97), rgb(109, 119, 176));
    /* background: linear-gradient(to bottom,
            rgb(55, 62, 62),
            rgb(141, 3, 139)); */
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.academicSection .itemsContainer .item:hover {
    transform: scale(1.1);
    box-shadow: 0px 1px 1px 2px rgba(209, 46, 46, 0.76);
    /* background: linear-gradient(to bottom, rgb(219, 228, 188), rgb(233, 234, 243), rgb(179, 181, 193)); */
}

.academicSection .itemsContainer .item h3 {
    color: rgb(209, 210, 211);
}

.academicSection .itemsContainer a {
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    color: rgb(200, 202, 212);
}

.academicSection .itemsContainer img {
    width: 50px;
    height: 50px;
    margin-right: 5px;
    /* background-color: #FFF; */
}

/* Academic Calendar Styles End */

/* Laboratories Style Begin */
.labsSection {
    border: 1px solid #203764;
    padding-bottom: 30px;
    background-color: rgba(10, 149, 255, 0.302);
}

.labsSection .labCardContainer {
    width: 100%;
    /* height: 100vh; */
    /* background-color: rgba(10, 149, 255, 0.302); */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

}

.labsSection .labCardContainer .labCard {
    width: 400px;
    height: 320px;
    border-radius: 20px;
    overflow: hidden;
    /* margin-top: 5px; */
    border: 8px solid #fff;
    position: relative;
    /* margin-right: 10px; */
}

.labName {
    text-align: center;
    /* text-transform: uppercase; */
    letter-spacing: 1px;
    font-weight: 500;
    color: #203764;
    margin-top: 10px;
}

.labCardImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.labCardBody {
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    position: absolute;
    background: rgba(42, 43, 43, 0.4);
    backdrop-filter: blur(5px);
    border-radius: 15px;
    color: #f4f3f6d1;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: .5s;
}

.labCard:hover .labCardBody {
    right: 0;
}

.labCardInfo {
    /* font-size: 0.9rem; */
    text-align: center;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 1px;
}

.labCardInfo .title {
    color: rgba(246, 243, 246, 0.712);
}

.labCardInfo .info {
    font-size: 0.9rem;
    padding-top: 10px;
}

.labItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

/* Laboratories Style End */

/* Class Rooms Style Begin */

.classSection {
    border: 1px solid #203764;
    padding-bottom: 30px;
    background-color: rgba(10, 149, 255, 0.302);
}

.classSection .classDiv {
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.classSection .classDiv .imgDiv {
    padding: 5px;
    border: 5px solid #9d7878;
    /* width: 50%; */
    height: 350px;
    overflow: hidden;
    border-radius: 10px;
    background-color: rgba(4, 63, 182, 0.567);
}

.classSection .classDiv .imgDiv img {
    border-radius: 10px;
    /* object-fit: cover; */
    width: 100%;
    height: 100%;
    position: relative;
    right: -150%;
    animation: bringClass 2s ease forwards;
    transition: 1s ease;
}

.classSection .classDiv .imgDiv img:hover {
    transform: scale(1.5);
}

@keyframes bringClass {
    from {
        right: -150%;
    }

    100% {
        right: .01%;

    }
}

.classSection .classDiv .descDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    /* font-size: .9rem; */
    font-weight: 600;
    text-align: justify;
}

/* Class Rooms Style End */

/* Footer Formating */
footer {
    background-color: #24262b;
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 150px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}